DATABASE_URL=
GEMINI_API_KEY=
GEMINI_IMAGE_MODEL=
GEMINI_MODEL=
MONGODB_DATABASE=
MONGODB_PASSWORD=
MONGODB_URI=
MONGODB_USERNAME=
MYSQL_DATABASE=
MYSQL_HOST=
MYSQL_PASSWORD=
MYSQL_PORT=
MYSQL_USER=
OLLAMA_BASE_URL=
OLLAMA_IMAGE_MODEL=
SESSION_SECRET=